:root {
    --main-title-weight:700;
    --main-text-weight:500;
    --main-smoll-weight:400;
    --main-bodybgcolor: #f9f8f8;
    --main-title-color:#333333;
    --main-text-color:#949494;
    --main-secion-color:#fff;
    --main-link-color: #FFBD54;;
}